/vendor/
/node_modules/
/.idea/
/.vscode/
.env
.env.local
.phpunit.result.cache
/public/admin/assets/*
!/public/admin/assets/.gitkeep
/storage/cache/*
!/storage/cache/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep
/storage/tmp/*
!/storage/tmp/.gitkeep
/storage/archives/*
!/storage/archives/.gitkeep
/storage/backups/*
!/storage/backups/.gitkeep
